<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{content.title}">"</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.input}"></h2>
    <p th:text="#{content.enter}"></p>
    <p th:if="${param.previous}" th:text="'前回入力された値は「' + ${param.previous[0]} + '」でした。'"></p>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit" th:text="#{content.send}"></button>
    </form>
</body>
</html>